.main__content {
  display: flex;
}

.main__content-games {
  padding-left: 300px;
}

.main__content-qa-btn {
  color: #fff;
  border: 1px solid #3951c6;
  border-bottom: 1px solid #2e419e;
  background-color: #6174d1;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  padding: 9px 14px;
  font-size: 18px;
  line-height: normal;
  width: 100%;
}

p,
label {
  font: 1rem "Fira Sans", sans-serif;
}

input {
  margin: 0.4rem;
}
